
.TopMenu {
    position: relative;
    background-color: rgba(126, 87, 139, 0.664);
    overflow: hidden;
    font-family: museo;
    font-weight: 200;

}

.TopMenu a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px 28px;
    text-decoration: none;
    font-size: 17px;
}

.TopMenu a:hover {
    background-color: rgb(191, 181, 197);
    color: black;
}

.TopMenu a.active {
    background-color: rgba(95, 158, 160, 0);
    color: rgb(255, 255, 255);
}

.centeredName a {
        float: none;
        position: absolute;
        top: 34px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
}

.rightMenu {
    float: right;
}

.textcentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bigtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 125px;
    font-family: helvetica;
    font-weight: 100;
    text-align: center;
    color: white;
  }

  .alignmentt {
      align-items: center;
      margin-left: 28%;
  }