
.TopMenu {
    position: relative;
    background-color: rgba(126, 87, 139, 0.664);
    overflow: hidden;
    font-family: helvetica;
    font-weight: 200;

}

.TopMenu a {
    float: left;
    color: rgba(255, 255, 255, 0.692);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.TopMenu a:hover {
    background-color: slategrey;
    color: black;
}

.TopMenu a.active {
    background-color: rgba(95, 158, 160, 0);
    color: rgba(44, 44, 44, 0.849);
}

.centeredName a {
        float: none;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
}

.rightMenu {
    float: right;
}

.textcentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bigtext {
    position: absolute;
    margin-top: 50%;
    right: 50%;
    font-size: 125px;
    font-family: helvetica;
    font-weight: 100;
    text-align: center;
    color: white;
  }

  .alignmentt {
      align-items: center;
  }